
.title {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.25px;
  color: #414141;
}

.subtitle {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #838383;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #414141;
}
